{{ define "article-card"}}
      <div class="grid place-items-start py-2 md:py-4 text-gray-light dark:text-gray-dark w-full text-start">
        <p class="text-sm font-medium 2xl:text-lg">{{ .PublishedAt }}</p>
        <a href="/articles/{{ .Slug }}">
          <h2 class="text-md xl:text-xl 2xl:text-2xl overflow-hidden line-clamp-4 text-black dark:text-light text-ellipsis underline underline-offset-2 decoration-solid decoration-black dark:decoration-white decoration-1">
            {{with .Title }}
          {{.}}
            {{else}}
            Oops... There should be an article title here
            {{end}}
        </h2>
        </a>
      </div>
{{ end }}