{{ define "post-card"}}
      <div class="grid place-items-start py-2 md:py-4 w-full text-start">
        <p class="text-sm font-medium 2xl:text-lg text-gray-light">{{ .PublishedAt }}</p>
        <a href="/posts/{{ .Slug }}">
          <h2 class="text-lg 2xl:text-2xl underline decoration-solid decoration-black decoration-1">
            {{with .Title }}
          {{.}}
            {{else}}
            Oops... There should be an article title here
            {{end}}
        </h2>
        </a>
      </div>
{{ end }}