{{ define "head" }}
<!DOCTYPE html>
<html lang="en" class="no-scrollbar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Description }}">
  <meta property="og:title" content="@samluiz"/>
  <meta property="og:image" content="https://i.ibb.co/DQcfRHf/Thumbnail.jpg"/>
  <meta property="og:description" content="Personal portfolio and blog"/>
  <meta property="og:url" content="https://samluiz.com"/>
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627"/>
  <meta property="og:type" content="website"/> 
  <title>@samluiz | {{ .PageTitle }}</title>
  <link rel="icon" href="/static/assets/img/logo_black.svg" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/tailwind.css" />
  <link rel="stylesheet" href="/static/css/highlightjs.min.css">
  <script src="/static/js/htmx.min.js"></script>
  <script defer src="/static/js/alpine.min.js"></script>
  <script src="/static/js/highlight.min.js"></script>
</head>
{{end}}