<main>
  <div class="grid grid-flow-row">
    <div class="grid place-items-center mt-16 2xl:mt-24">
      {{ template "logo" .}}
      <div x-data="{ 
        isOpen: false,
        loaded: true
        }" x-init="setTimeout(() => { loaded = false; }, 3000)" class="relative">
        <h1 x-bind:class="{ 'blink': loaded }" @mouseenter="isOpen = true" @mouseleave="isOpen = false" class="text-4xl font-title mt-4 select-none cursor-pointer text-black dark:text-light">@samluiz</h1>
        <ul x-data="{
          socials: [
            { name: 'github', link: 'https://github.com/samluiz' },
            { name: 'xwitter', link: 'https://x.com/samluiz_x' },
            { name: 'linkedin', link: 'https://www.linkedin.com/in/samuelluizrl/' }
            ]
          }" x-show="isOpen" @mouseenter="isOpen = true" @mouseleave="isOpen = false" class="absolute mt-1 w-full bg-light dark:bg-dark">
          <template x-for="social in socials" :key="social.name">
            <li class="py-2 px-4 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-800 duration-150">
              <a :href="social.link" target="_blank" class="grid place-items-center grid-flow-col space-x-2">
                <span x-text="social.name" class="font-body font-semibold antialiased text-black dark:text-light"></span>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
    <div class="max-w-xl sm:max-w-2xl md:max-w-3xl px-2 mx-auto mt-2 md:mt-4 lg:mt-8">
      <p class="text-center text-lg sm:text-xl md:text-3xl text-black dark:text-light">Software engineer. Proficiency in Java and Go. Comfortable with React and Alpine.js. Currently at IBM.</p>
    </div>
    <div class="w-screen grid place-items-center mt-8 2xl:mt-12">
      <span class="text-center w-full text-xl 2xl:pb-6 text-black dark:text-light">Recent articles</span>
    </div>
    <div class="max-w-56 sm:max-w-72 md:max-w-xs xl:max-w-sm mx-auto text-center mb-2 2xl:mb-4">
        <div class="grid place-items-center py-4">
          {{ if .Articles}}
            {{ range .Articles }}
              {{template "article-card" .}}
            {{ end }}
          {{ else }}
            {{ if .Error}}
              <p class="text-center text-lg py-8 text-black dark:text-light">Error while loading the articles</p>
            {{ else }}
              <p class="text-center text-lg py-8text-black dark:text-light">No articles found</p>
            {{ end }}
          {{ end }}
        </div>
    </div>
    <div class="text-center">
      <a href="/articles" class="text-md 2xl:text-lg underline underline-offset-2 text-black dark:text-light">See all articles</a>
    </div>
  </div>
</main>
